<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MENU</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="../style/menu-dominicano.css">

</head>
<body>
    <div class="contenedor">


   

        <div class="menu-text">
            <h1 class="logo-3">ME<span>NU</span></h1>
        </div>
        <main class="comida">
            <h1 class="comida--titulo">ENTRA<span>DA</span></h1>
            <div class="platos">
                <article class="plato">
                    <img src="../images/TOSTONES-CON-SALAMI-removebg-preview.png" alt="Tostones con salami">
                    <h1>Tostones con salami</h1>
                    <p>Tostones (plátanos fritos) acompañados de salami frito, a veces con queso frito y cebolla.</p>
                    <div class="plato--info">
                        <p>$12.99</p>
                        <button type="button">+</button>
                    </div>                    
                </article>
                <article class="plato">
                    <img src="../images/yucaconmojo-removebg-preview.png" alt="Yuca">
                    <h1>Yuca al mojo</h1>
                    <p>Yuca hervida acompañada de una salsa hecha con ajo, aceite y vinagre (mojo).</p>
                    <div class="plato--info">
                        <p>$10.99</p>
                        <button type="button">+</button>
                    </div>                    
                </article>
                <article class="plato">
                    <img src="../images/ceviche-removebg-preview.png" alt="Ceviche">
                    <h1>Ceviche</h1>
                    <p>Pescado fresco marinado con limón, cebolla, ajíes, cilantro y otras hierbas, muy común en las zonas costeras.</p>
                    <div class="plato--info">
                        <p>$10.99</p>
                        <button type="button">+</button>
                    </div>                    
                </article>
                <article class="plato">
                    <img src="../images/pica-pollo-dominicano-removebg-preview.png" alt="Pica pollo">
                    <h1>Pica pollo</h1>
                    <p>Pollo frito empanizado, servido con arroz, habichuelas (frijoles) y tostones o papas fritas.</p>
                    <div class="plato--info">
                        <p>$10.99</p>
                        <button type="button">+</button>
                    </div>                    
                </article>
                
                <article class="plato">
                    <img src="../images/receta-de-chicharron-de-pollo-dominicano-removebg-preview.png" alt="Chicharron de pollo">
                    <h1>Chicharron de pollo</h1>
                    <p>Trozos de pollo o cerdo fritos, crujientes por fuera y jugosos por dentro.</p>
                    <div class="plato--info">
                        <p>$12.99</p>
                        <button type="button">+</button>
                    </div>                    
                </article>
                <article class="plato">
                    <img src="../images/sopa-de-pollo-recipe-chicken-soup-GLZ7731-removebg-preview.png" alt="sopa de pollo">
                    <h1>Sopa de pollo</h1>
                    <p>Calditos de pollo o res, a veces con arroz o fideos.</p>
                    <div class="plato--info">
                        <p>$10.99</p>
                        <button type="button">+</button>
                    </div>                    
                </article>
                <article class="plato">
                    <img src="../images/Empanadas_El_Domincano.jpg-removebg-preview.png" alt="Empanadas_El_Domincano">
                    <h1>Empanadas al estilo Dominicano</h1>
                    <p>Empanadas rellenas de carne o pollo, que se sirven fritas y son muy populares en la merienda.</p>
                    <div class="plato--info">
                        <p>$10.99</p>
                        <button type="button">+</button>
                    </div>                    
                </article>
                <article class="plato">
                    <img src="../images/mangu-removebg-preview.png" alt="Mangu">
                    <h1>Mangu</h1>
                    <p> Aunque es más un desayuno, también se sirve como entrada. Es puré de plátano acompañado de huevo frito, salami y queso.</p>
                    <div class="plato--info">
                        <p>$10.99</p>
                        <button type="button">+</button>
                    </div>
                    
                    
                </article>

                
            </div>
        </main>


        <main class="comida">
            <h1 class="comida--titulo">CAR<span>NES</span></h1>
            <div class="platos">
                <article class="plato">
                    <img src="../images/carneasada-removebg-preview.png" alt="carne Asada">
                    <h1>Carne Asada</h1>
                    <p>La carne asada es un generalmente es un pedazo de filete de falda, que tambien es considerado filete de lomo.</p>
                    <div class="plato--info">
                        <p>$12.99</p>
                        <button type="button">+</button>
                    </div>                    
                </article>
                <article class="plato">
                    <img src="../images/filete de res.jpeg" alt="filete de res">
                    <h1>Filete de res</h1>
                    <p>El filete de res es un corte tierno que se puede cocinar a la parrilla o en sartén. Se adereza con sal, pimienta, ajo y otros condimentos al gusto.</p>
                    <div class="plato--info">
                        <p>$10.99</p>
                        <button type="button">+</button>
                    </div>                    
                </article>
                <article class="plato">
                    <img src="../images/pechuaga_a_la_placha-removebg.png" alt="Pechuca a la plancha">
                    <h1>Pechuga a la plancha</h1>
                    <p>La pechuga de pollo a la plancha es muy popular, especialmente para aquellos que prefieren opciones más ligeras.</p>
                    <div class="plato--info">
                        <p>$10.99</p>
                        <button type="button">+</button>
                    </div>                    
                </article>
                <article class="plato">
                    <img src="../images/carnederesguisada-removebg-preview.png" alt="carne de res guisada">
                    <h1>Carne de Res Guisada</h1>
                    <p>Carne de res cocinada lentamente en un guiso con vegetales como cebolla, ajo, pimientos, tomate y especias, acompañada de arroz y habichuelas.</p>
                    <div class="plato--info">
                        <p>$10.99</p>
                        <button type="button">+</button>
                    </div>                    
                </article>
                
                <article class="plato">
                    <img src="../images/filete-de-pescado-removebg-preview.png" alt="filete de pescado">
                    <h1>Filete de Pescado</h1>
                    <p>Aunque no es carne roja, el pescado como la trucha o pargo es muy común en las costas dominicanas, y se sirve frito, a la parrilla o en salsa.</p>
                    <div class="plato--info">
                        <p>$12.99</p>
                        <button type="button">+</button>
                    </div>                    
                </article>
                <article class="plato">
                    <img src="../images/chivo-guisado-picante-liniero-recipe-P1150300-removebg-preview.png" alt="Chivo">
                    <h1>Chivo Guisado</h1>
                    <p>Carne de chivo cocinada con hierbas, especias y vegetales. Es muy popular en el campo y se sirve con arroz, habichuelas y ensaladas.</p>
                    <div class="plato--info">
                        <p>$10.99</p>
                        <button type="button">+</button>
                    </div>                    
                </article>
                <article class="plato">
                    <img src="../images/bistec-removebg-preview.png" alt="Bistec de res">
                    <h1>Bistec de Res</h1>
                    <p>Cortes de carne de res (como el bistec) a la parrilla o fritos, servidos con arroz, habichuelas y papas fritas o tostones.</p>
                    <div class="plato--info">
                        <p>$10.99</p>
                        <button type="button">+</button>
                    </div>                    
                </article>
                <article class="plato">
                    <img src="../images/costillas_bbq_en_sarten_50593_orig-removebg-preview.png" alt="Costillas a la BBQ">
                    <h1>Costillas a la BBQ</h1>
                    <p>Costillas de cerdo marinadas con una salsa agridulce o BBQ, luego asadas a la parrilla. Es una opción muy popular en parrilladas y restaurantes.</p>
                    <div class="plato--info">
                        <p>$10.99</p>
                        <button type="button">+</button>
                    </div>
                    
                    
                </article>

                
            </div>
        </main>
        <main class="comida">
            <h1 class="comida--titulo">ENSALA<span>DAS</span></h1>
            
            <div class="platos">
                <article class="plato">
                    <img src="../images/ensalada-de-pollo-removebg-preview.png" alt="Ensalada de pollo">
                    <h1>Ensalada de pollo</h1>
                    <p>Hecha con pechuga de pollo cocida y desmenuzada, mezclada con vegetales como lechuga, tomate, pepino y cebolla, y aderezada con mayonesa o un aderezo ligero.</p>
                    <div class="plato--info">
                        <p>$12.99</p>
                        <button type="button">+</button>
                    </div>                    
                </article>
                <article class="plato">
                    <img src="../images/Ensalada_Criolla-removebg-preview.png" alt="Ensalada Criolla">
                    <h1>Ensalada Criolla</h1>
                    <p>Combinación de vegetales frescos como lechuga, tomate, cebolla, pepino, zanahoria y aguacate. Se adereza con vinagre, aceite y un toque de orégano, lo que le da un sabor característico.</p>
                    <div class="plato--info">
                        <p>$10.99</p>
                        <button type="button">+</button>
                    </div>                    
                </article>
                <article class="plato">
                    <img src="../images/Ensalada_de_Aguacate-removebg-preview.png" alt="Ensalada de Aguacate">
                    <h1>Ensalada de Aguacate</h1>
                    <p>El aguacate (palta) es muy popular en la gastronomía dominicana, y la ensalada de aguacate incluye rodajas de este fruto acompañadas de cebolla, tomate, pepino y un aderezo sencillo de aceite, vinagre y sal.</p>
                    <div class="plato--info">
                        <p>$10.99</p>
                        <button type="button">+</button>
                    </div>                    
                </article>
                <article class="plato">
                    <img src="../images/Ensalada_de_Coditos-removebg-preview.png" alt="Ensalada de Coditos">
                    <h1>Ensalada de Coditos</h1>
                    <p> Esta ensalada es similar a la ensalada rusa, pero se hace con coditos de pasta en lugar de papas. Se mezcla con mayonesa, zanahorias y guisantes, y a veces se le agrega jamón o pollo.</p>
                    <div class="plato--info">
                        <p>$10.99</p>
                        <button type="button">+</button>
                    </div>                    
                </article>
                
                <article class="plato">
                    <img src="../images/Ensalada_de_Repollo-removebg-preview.png" alt="Ensalada de repollo">
                    <h1>Ensalada de Repollo</h1>
                    <p>El repollo (col) rallado o picado se mezcla con zanahoria, tomate y pepino, aderezado con mayonesa, mostaza o una vinagreta.</p>
                    <div class="plato--info">
                        <p>$12.99</p>
                        <button type="button">+</button>
                    </div>                    
                </article>
                <article class="plato">
                    <img src="../images/Ensalada_de_Tomate_y_Cebolla-removebg-preview.png" alt="Ensalada de tomote y cebolla">
                    <h1>Ensalada de tomate y cebolla</h1>
                    <p>Es una ensalada refrescante y sencilla hecha solo con rodajas de tomate y cebolla, aderezada con aceite, vinagre y sal.</p>
                    <div class="plato--info">
                        <p>$10.99</p>
                        <button type="button">+</button>
                    </div>                    
                </article>
                <article class="plato">
                    <img src="../images/ENSALADAVERDE-removebg-preview.png" alt="Ensalada verde">
                    <h1>Ensalada verde</h1>
                    <p>Es una ensalada simple hecha con lechuga, tomate, pepino, cebolla y a veces zanahoria rallada. Se adereza con aceite, vinagre y sal.</p>
                    <div class="plato--info">
                        <p>$10.99</p>
                        <button type="button">+</button>
                    </div>                    
                </article>
                <article class="plato">
                    <img src="../images/Ensalada_Rusa-removebg-preview.png" alt="ensalada rusa">
                    <h1>Ensalada Rusa</h1>
                    <p>Esta ensalada es una mezcla de papas, zanahorias, guisantes y mayonesa. Es un plato clásico en celebraciones y acompañante de platos fuertes.</p>
                    <div class="plato--info">
                        <p>$10.99</p>
                        <button type="button">+</button>
                    </div>
                    
                    
                </article>

                
            </div>
        </main>

        <main class="comida">
            <h1 class="comida--titulo">BEBI<span>DAS</span></h1>
            
            <div class="platos">
                <article class="plato">
                    <img src="../images/agua-removebg-preview.png" alt="Agua">
                    <h1>Botella de Agua</h1>
                    <p>Es una opción refrescante y saludable para aquellos que prefieren hidratarse con agua mineral, especialmente en climas calurosos.</p>
                    <div class="plato--info">
                        <p>$12.99</p>
                        <button type="button">+</button>
                    </div>                    
                </article>
                <article class="plato">
                    <img src="../images/coca_cola-removebg-preview.png" alt="coca cola">
                    <h1>Coca cola</h1>
                    <p>Esta es una de las bebidas más consumidas en la República Dominicana. Coca-Cola, como en muchos otros países, se disfruta en diversas ocasiones, desde comidas rápidas hasta reuniones sociales.</p>
                    <div class="plato--info">
                        <p>$10.99</p>
                        <button type="button">+</button>
                    </div>                    
                </article>
                <article class="plato">
                    <img src="../images/Mamajuana-removebg-preview.png" alt="Mamajuana">
                    <h1>Mamajuana</h1>
                    <p>Una bebida alcohólica tradicional hecha con una mezcla de ron, vino tinto, miel y hierbas medicinales. Se cree que tiene propiedades afrodisíacas y es muy popular en la República Dominicana.</p>
                    <div class="plato--info">
                        <p>$10.99</p>
                        <button type="button">+</button>
                    </div>                    
                </article>
                <article class="plato">
                    <img src="../images/Batida de Frutas.jpg" alt="Batida de Frutas">
                    <h1>Batida de Frutas</h1>
                    <p>Las batidas son batidos de frutas naturales como mango, piña, guanábana, papaya o fresa, mezcladas con leche o jugo y a veces con un toque de azúcar. Son bebidas dulces y cremosas muy comunes en el desayuno o la merienda.</p>
                    <div class="plato--info">
                        <p>$10.99</p>
                        <button type="button">+</button>
                    </div>                    
                </article>
                
                <article class="plato">
                    <img src="../images/morir-sonando-044-removebg-preview.png" alt="morir sonando">
                    <h1>Morir Soñando</h1>
                    <p>Esta es una bebida tradicional dominicana que combina jugo de naranja fresco con leche condensada, azúcar y hielo. Es una mezcla dulce y refrescante, ideal para los días calurosos.</p>
                    <div class="plato--info">
                        <p>$12.99</p>
                        <button type="button">+</button>
                    </div>                    
                </article>
                <article class="plato">
                    <img src="../images/Café_de_Olla-removebg-preview.png" alt="Cafe">
                    <h1>Cafe</h1>
                    <p> El café dominicano es fuerte y sabroso. Se prepara de manera tradicional con canela y clavo de olor en agua, y se endulza con azúcar al gusto. Es una bebida esencial en la cultura dominicana, especialmente después de las comidas.</p>
                    <div class="plato--info">
                        <p>$10.99</p>
                        <button type="button">+</button>
                    </div>                    
                </article>
                <article class="plato">
                    <img src="../images/Presidente-removebg-preview.png" alt="Presidente">
                    <h1>Cerveza Presidente</h1>
                    <p>Esta es la cerveza nacional de la República Dominicana. Es ligera y refrescante, ideal para acompañar cualquier comida o disfrutar en las playas.</p>
                    <div class="plato--info">
                        <p>$10.99</p>
                        <button type="button">+</button>
                    </div>                    
                </article>
                <article class="plato">
                    <img src="../images/jugo_de_chinola-removebg-preview.png" alt="jugo de chinola">
                    <h1>Jugo de Chinola</h1>
                    <p>El jugo de chinola es una bebida fresca y dulce hecha con el fruto de la maracuyá. Es muy popular debido a su sabor tropical y refrescante, ideal para acompañar cualquier comida.</p>
                    <div class="plato--info">
                        <p>$10.99</p>
                        <button type="button">+</button>
                    </div>
                    
                    
                </article>

                
            </div>
        </main>
    </div>
</body>
</html>